In [3]:
import pandas as pd

In [4]:
with open('btc_daily_mentions.csv', 'r') as fp:
    print(fp)

<_io.TextIOWrapper name='btc_daily_mentions.csv' mode='r' encoding='cp1252'>

In [5]:
with open('btc_daily_mentions.csv', 'r') as fp:
    for index, line in enumerate(fp.readlines()):
        if (index < 20):
            print(index, line)

0 ticker,date1,volume

1 BTC,2022-03-30,168047

2 BTC,2022-03-29,176761

3 BTC,2022-03-28,167914

4 BTC,2022-03-27,138634

5 BTC,2022-03-26,145352

6 BTC,2022-03-25,148375

7 BTC,2022-03-24,150914

8 BTC,2022-03-23,154706

9 BTC,2022-03-22,156442

10 BTC,2022-03-21,155353

11 BTC,2022-03-20,107108

12 BTC,2022-03-19,112597

13 BTC,2022-03-18,126073

14 BTC,2022-03-17,121797

15 BTC,2022-03-16,160354

16 BTC,2022-03-15,142146

17 BTC,2022-03-14,154794

18 BTC,2022-03-13,112695

19 BTC,2022-03-12,118942

In [8]:
pd.read_csv

<function pandas.io.parsers.readers.read_csv(filepath_or_buffer: 'FilePath | ReadCsvBuffer[bytes] | ReadCsvBuffer[str]', sep=<no_default>, delimiter=None, header='infer', names=<no_default>, index_col=None, usecols=None, squeeze=None, prefix=<no_default>, mangle_dupe_cols=True, dtype: 'DtypeArg | None' = None, engine: 'CSVEngine | None' = None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=None, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression: 'CompressionOptions' = 'infer', thousands=None, decimal: 'str' = '.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, encoding_errors: 'str | None' = 'strict', dialect=None, error_bad_lines=None, warn_bad_lines=None, on_bad_lines=None, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None, storage_options: 'StorageOptions' = None)>

In [12]:
csv_url = "https://raw.githubusercontent.com/datasets/gdp/master/data/gdp.csv"

pd.read_csv(csv_url)

      Country Name Country Code  Year         Value
0       Arab World          ARB  1968  2.576068e+10
1       Arab World          ARB  1969  2.843420e+10
2       Arab World          ARB  1970  3.138550e+10
3       Arab World          ARB  1971  3.642691e+10
4       Arab World          ARB  1972  4.331606e+10
...            ...          ...   ...           ...
11502     Zimbabwe          ZWE  2012  1.424249e+10
11503     Zimbabwe          ZWE  2013  1.545177e+10
11504     Zimbabwe          ZWE  2014  1.589105e+10
11505     Zimbabwe          ZWE  2015  1.630467e+10
11506     Zimbabwe          ZWE  2016  1.661996e+10

[11507 rows x 4 columns]

In [15]:
df = pd.read_csv('btc_daily_mentions.csv',
                header=None,
                na_values=['', '?', '-'])
df.head()

        0           1       2
0  ticker       date1  volume
1     BTC  2022-03-30  168047
2     BTC  2022-03-29  176761
3     BTC  2022-03-28  167914
4     BTC  2022-03-27  138634

In [16]:
import sqlite3