In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('stock.txt', '\t', header=None)

c:\users\teezzy\appdata\local\programs\python\python310\lib\site-packages\IPython\core\interactiveshell.py:3369: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [11]:
df

                           0
0  6/20/2014   AAPL    90.91
1  6/20/2014   MSFT    41.68
2        6/20/2014   FB 64.5
3     6/19/2014   AAPL 91.86
4  6/19/2014   MSFT    41.51
5  6/19/2014   FB      64.34

In [12]:
for line in df:
    print(line)

0

In [13]:
df.shape

(6, 1)

In [15]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [16]:
import csv

In [22]:
with open('stock.txt', 'rb') as f:
    reader = csv.reader(f, delimiter='\t')

In [23]:
reader

In [ ]:
for line in reader:
    date = line[0]